<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Awwwards are the Website Awards that recognize and promote the talent and effort of the best developers, designers and web agencies in the world.">
    <link rel="canonical" href="https://www.awwwards.com/" />
    <meta name="theme-color" content="#3ea094">
    <meta name="keywords" content="Website Awards, Web Design Inspiration, Webdesign Trends" >
    <meta property="og:site_name" content="Awwwards">
    <meta property="og:image" content="https://assets.awwwards.com/assets/images/pages/about-certificates/awwwards.jpg" />
    <meta property="og:title" content="Awwwards - Website Awards - Best Web Design Trends" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.awwwards.com/" />
    <meta property="og:description" content="Awwwards are the Website Awards that recognize and promote the talent and effort of the best developers, designers and web agencies in the world." />
    <title>Awards</title>
    <link rel="icon" href="https://assets.awwwards.com/assets/images/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="https://assets.awwwards.com/assets/images/favicon-safari.svg" color="#000000" />
    <link rel="apple-touch-icon" href="https://www.awwwards.com/apple-touch-icon.png" />
    <link rel="manifest" href="https://www.awwwards.com/manifest.json">
    </head>
    
    <body class="home" data-debug="0">
      <div class = "wrapper ">    
        <nav class="nav-main" id="nav-main">
        </nav>
    
        <header id="header">
          <div class="header-main">
            <div class="box-left">
              <div class="item bt-menu js-nav-main" data-menu-id="menu-main">
                <a href="{% url 'home' %}"><span class="has-tablet">AWARDS</span></a>
              </div>
            </div>
            <div class="box-right">
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav ">
                  <div class="search_bar">
                    <form class="form-inline ml-auto" action="{% url 'search' %}" method="GET">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Project ~Hit[Enter]" name="project" style="padding: 2px; border-radius: 16px;">  
                      </div>
                    </form>
                  </div>
                </ul>
              </div>
  
              <div id="js-user-details" class="item logged has-tablet" data-user='{&quot;username&quot;:&quot;NYURURU&quot;,&quot;id&quot;:984601,&quot;displayName&quot;:&quot;Amimo&quot;}'>
                
                <div class="bt-dropdown bt-menu-user">
                  <a href="{% url 'profile' %}" class="js-has-name text-black text-uppercase">{{user.username}}</a>
                  <figure class="avatar">
                    <img src="{{user.profile.image.url}}" alt="NYURURU" width="32" height="32" />
                  </figure>
                  <ul>
                    <li>
                      <a href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li>
                      <a href="{% url 'api' %}">Api</a>
                    </li>
                    <li class="logout">
                      <a href="/logout">Logout</a>
                    </li>
                  </ul>
                </div>
                
              </div>         
              <div class="item has-tablet" id="bt-submit"><a href="{% url 'new_project'%}" class="button"><span>SUBMIT YOUR PROJECT!</span></a></div>
            </div>
          </div>
        </header>
      </div>
    </body>
  </html>  